body {
  margin: 0;
  padding: 32px;
  background: #212121;
  font-family: system-ui, sans-serif;
  color: #fff;
}

#srs-btn {
  float: right;
  background: linear-gradient(135deg, #8e44ad, #3498db);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: 600;
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  margin-right: 20px;
  width: 30%;
}
.back-btn {
  width: 20%;
  margin-left: 20px;
}

.path {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding-bottom: 500px;
}

.row {
  display: flex;
  width: 100%;
}

.row.forward {
  flex-direction: row;
}

.row.backward {
  flex-direction: row-reverse;
}

.row.turn-right {
  justify-content: flex-end;
}

.row.turn-left {
  justify-content: flex-start;
}

.cell {
  flex: 0 0 20%;
  padding: 0 4px;
  box-sizing: border-box;
}

.cell button {
  min-height: 185px;
  border-radius: 20px;
  height: auto;
}
.cell hr {
  border: 1px solid black;
}

button {
  width: 100%;
  height: 150px;
  background: #303030;
  color: #fff;
  border: 1px solid #333;
  border-radius: 999px;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  font-size: 60px;
}

button:hover {
  background: #2a2a2a;
}

@media (max-width: 600px) {
  button {
    font-size: 12px;
    padding: 8px 0;
  }
}

.hanzi {
  font-size: 300px;
  text-align: center;
}
.pinyin {
  font-size: 60px;
  text-align: center;
}
.section {
  font-size: 3.5rem;
}
.example-section {
  margin-top: 60px;
}
.example-p {
  margin: 0;
}
.example-p-hanzi {
  font-size: 5.5rem;
}

.example-p-pinying {
  font-size: 5rem;
}

.progress {
  opacity: 0.6;
  font-size: 50px;
}

.next-btn {
  width: 30%;
  padding: 10px 20px;
  float: right;
  margin-right: 20px;
}

#toggle-meaning {
  position: fixed;
  width: 100%;
  z-index: 99;
  bottom: 300px;
  left: 0px;
}

.pinyin-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.speak-btn {
  border: none;
  font-size: 60px;
  cursor: pointer;
  width: 20%;
  float: right;
  margin-right: 2%;
  background: #303030 !important;
}
.google-btn, .chatgpt-btn {
  width: 20%;
  float: right;
  margin-left: 20px;
}

button.completed {
  background: #2ecc71;
  color: #000;
  border: none;
}

button.locked {
  background: #2c2c2c;
  color: #666;
  border: 1px solid #444;
  cursor: not-allowed;
  opacity: 0.6;
}

.next-srs-btn {
  width: 30%;
  float: right;
}

.stats-toggle {
  background: none !important;
  width: 10%;
  margin-left: 20px;
  border: none !important;
}

.dev-toggle {
  background: none !important;
  width: 10%;
  border: none !important;
}

.line-break-toggle {
  background: none !important;
  width: 10%;
  border: none !important;
}

.pinyin-toggle {
  background: none !important;
  width: 10%;
  border: none !important;
}

#srs-calendar h1 {
  margin-top: 0px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 10px 0;
  margin-bottom: 60px;
}
.day {
  font-size: 40px;
}
.ignore-btn {
  width: 20%;
  margin-left: 2%;
}
.top-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.dev-toggle {
  background: none;
  cursor: pointer;
}
.srs-size-btn {
  width: 10%;
  background: none !important;
  border: none;
}
.select-srs-size-btn {
  width: 18%;
}
.restore-rom-input-btn {
  width: 20%;
  margin-left: 20px;
}

.srs-reset-ignored {
  width: 50%;
  font-size: 50px;
  margin-top: 30px;
}
#restore-panel {
  margin-bottom: 40px;
  display: flex;
  gap: 8px;
}
#restore-panel input {
  flex: 1;
  font-size: 50px;
  padding: 20px 10px;
}

.srs-size-menu {
  margin-bottom: 40px;
}
h1 {
  font-size: 100px;
}
.header-h2 {
  font-size: 40px;
}

.fixed-bottom {
  position: fixed;
  width: 100%;
  background: #212121;
  z-index: 99;
  bottom: 0;
  left: 0px;
  padding-bottom: 120px;
  padding-top: 20px;
}

#meaning {
  padding-bottom: 500px;
}

.level-number {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.1;
}

button.completed .level-number{
  display: none;
}

.level-hanzi {
  font-size: 50px;
  margin-top: 0px;
  padding: 0 3px;
}
