body {
  margin: 0;
  padding: 32px;
  padding-bottom: env(safe-area-inset-bottom);
  background: #212121;
  font-family: system-ui, sans-serif;
  color: #fff;
}
html, body {
  touch-action: manipulation;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
  overscroll-behavior: none;
}
.section,
.example-section,
.hanzi,
.pinyin,
.homo-values,
.homo-val,
#meaning,
.tone-char,
.component-char-details,
.phonetic-char-details,
.char-card {
  -webkit-user-select: text;
  user-select: text;
}
.back-btn {
  width: 20%;
  margin-left: 20px;
  float: left;
}

.path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 500px;
}

.row {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.row.forward {
  flex-direction: row;
}

.row.backward {
  flex-direction: row-reverse;
}

.row.turn-right {
  justify-content: flex-end;
}

.row.turn-left {
  justify-content: flex-start;
}

.cell {
  flex: 0 0 17%;
  padding: 0 4px;
  box-sizing: border-box;
}

.cell button {
  min-height: 185px;
  border-radius: 0px;
  height: auto;
  padding: 0;
  position: relative;
}
.cell hr {
  border: 1px solid black;
}

button {
  width: 100%;
  height: 150px;
  background: #303030;
  color: #fff;
  border: 1px solid #333;
  border-radius: 999px;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  font-size: 60px;
}


@media (max-width: 600px) {
  button {
    font-size: 12px;
    padding: 8px 0;
  }
}

.hanzi {
  font-size: 300px;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  background: white;
  color: black;
}

.pinyin {
  font-size: 60px;
  text-align: center;
  font-family: monospace;
}
.section {
  font-size: 4rem;
}
.example-section {
  margin-top: 60px;
  min-height: 270px;
}
.example-p {
  margin: 0;
}
.example-p-hanzi {
  font-size: 10rem;
  line-height: calc(10rem + 27px);
}
.example-section .hanzi-simple,
.example-section .hanzi-traditional {
  display: flex;
  flex-wrap: wrap;
  font-size: 130px;
  text-align: center;
}

.phonetic-detail-example-hanzi .hanzi-simple,
.phonetic-detail-example-hanzi .hanzi-traditional,
.component-detail-example-hanzi .hanzi-simple,
.component-detail-example-hanzi .hanzi-traditional {
  display: flex;
  flex-wrap: wrap;
}

.example-p-pinying {
  margin-top: 20px;
}
.example-p-pl {
  margin-top: 20px;
}

.example-p-hsk {
  opacity: 0.5;
  padding-top: 30px;
}

.progress {
  opacity: 0.6;
  font-size: 50px;
}

.next-btn {
  width: 30%;
  padding: 10px 20px;
  float: right;
  margin-right: 20px;
}

#toggle-meaning {
  position: fixed;
  width: 70%;
  z-index: 99;
  bottom: 350px;
  left: 0px;
  background: none;
  border: none;
}
#incremental-reveal-pinyin {
  position: fixed;
  width: 30%;
  z-index: 99;
  bottom: 350px;
  right: 0px;
  background: none;
  border: none;
}

.pinyin-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.open-all-desc-btn {
  border: none;
  font-size: 60px;
  cursor: pointer;
  width: 20%;
  float: right;
  margin-right: 2%;
  background: #303030;
}
.google-btn, .chatgpt-btn {
  width: 20%;
  float: right;
  margin-left: 20px;
}

button.completed {
  background: white;
  color: #000;
  border: none;
}

button.locked {
  background: #2c2c2c;
  color: #666;
  border: 1px solid #444;
  cursor: not-allowed;
  opacity: 0.6;
}

.next-srs-btn {
  width: 30%;
  float: right;
}

.stats-toggle {
  background: none !important;
  width: 7%;
  margin-left: 20px;
  border: none !important;
  font-size: 70px;
}
#speak-mute-btn {
  background: none !important;
  width: 13.1%;
  border: none !important;
  font-size: 70px;
}

.homo-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}
.dev-toggle {
  background: none;
  width: 13.1%;
  border: none !important;
  font-size: 100px;
}

.line-break-toggle {
  background: none !important;
  width: 7%;
  border: none !important;
}

.homo-letter-section {
  margin-top: 20px;
  margin-bottom: 10px;
}
.homo-expand-collapse {
  width: 50%;
  float: left;
}

.pinyin-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}

#srs-calendar h1 {
  margin-top: 0px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 10px 0;
  margin-bottom: 60px;
}
.day {
  font-size: 40px;
}
.ignore-btn {
  width: 20%;
  margin-left: 2%;
  float: left;
}
.top-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.srs-size-btn {
  width: 13.1%;
  background: none !important;
  border: none;
  font-size: 70px;
}
.select-srs-size-btn {
  width: 15%;
}
.restore-rom-input-btn {
  width: 20%;
  margin-left: 20px;
}
.ignore-rom-input-btn {
  width: 20%;
  margin-left: 20px;
}

.srs-reset-ignored {
  width: 50%;
  font-size: 50px;
  margin-top: 30px;
}
#restore-panel {
  margin-bottom: 40px;
  display: flex;
  gap: 8px;
}
#restore-panel input {
  flex: 1;
  font-size: 50px;
  padding: 20px 10px;
}

.srs-size-menu {
  margin-bottom: 40px;
}
h1 {
  font-size: 70px;
  clear: both;
}
.header-h2 {
  font-size: 40px;
}

.fixed-bottom {
  position: fixed;
  width: 100%;
  background: #212121;
  z-index: 999;
  bottom: -10px;
  left: 0px;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: right;
}
.fixed-bottom button {
  background: none;
  border: none;
}

#meaning {
  padding-bottom: 500px;
  margin-top: 50px;
}

.level-number {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.1;
}

button.completed .level-number{
  display: none;
}

.level-hanzi {
  font-size: 130px;
  font-weight: 500;
  margin-top: 0px;
  padding: 0;
}

#homo-list {
  margin-bottom: 500px;
}

.homo-row {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
}

.homo-key {
  flex: 0 0 28%;
  font-size: 70px;
  opacity: 0.7;
}

.homo-values {
  flex: 1;
  font-size: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.homo-val {
  white-space: nowrap;
  display: flex;
}

.homo-val .hanzi-traditional,
.homo-val .hanzi-simple {
  background: white;
  color: black;
}
.homo-val .hanzi-traditional.traditional-diff,
.homo-val .hanzi-simple.traditional-diff {
  background: wheat;
  color: black;
}

.custom-hanzi-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.component-char,
.custom-hanzi-card {
  min-height: 180px;
  height: auto;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  background: white;
  color: black;
  font-size: 130px;
  font-weight: 500;
  line-height: 5rem;
  position: relative;
}

.custom-hanzi-main {
  font-size: 130px;
  line-height: 1;
}

.custom-hanzi-pinyin {
  font-size: 45px;
  opacity: 0.85;
}
.preview-pinyin {
  font-size: 55px;
  margin-top: -5px;
}

.custom-hanzi-input-btn {
  width: 20%;
  margin-left: 20px;
}

.custom-hanzi-status {
  font-size: 40px;
  margin-top: 20px;
  color: #f1c40f;
}

.tone-1 {
  color: #4da3ff;
}

.tone-2 {
  color: forestgreen;
}

.tone-3 {
  color: darkorange;
}

.tone-4 {
  color: #ff5a5a;
}

.tone-5 {
  color: black;
}

.tone-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
  border-radius: 20px;
}
.traditional-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
  border-radius: 20px;
}

.examples-toggle {
  border: none !important;
  font-size: 80px;
  background: none;
  width: 12%;
  border-radius: 20px;
}

#examples-list {
  -webkit-user-select: text;
  user-select: text;
  margin-bottom: 500px;
}

.example-row {
  border-bottom: 1px solid #333;
  margin: 25px;
  background: white;
  color: black;
  -webkit-user-select: text;
  user-select: text;
}
.example-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

.example-arrow {
  width: 120px;
  min-width: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

.example-hanzi {
  font-size: 130px;
  line-height: 1.1;
}

.example-details {
  display: none;
  margin-left: 90px;
  margin-top: 20px;
}

.example-details.open {
  display: block;
}

.example-pl {
  font-size: 55px;
}
.tone-char {
    line-height: 130px;
}

.generated-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}
#notebook-btn {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}
#notebook-list {
  padding-bottom: 500px;
}
.components-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}

#srs-btn {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}

.generate-btn {
  width: 100%;
  margin-bottom: 30px;
  font-size: 55px;
}
.home-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}
#generated-list {
  padding-bottom: 500px;
}
.component-group {
  margin-bottom: 20px;
}

.component-row {
  flex-wrap: wrap;
  align-items: center;

  font-size: 75px;
  line-height: 1.4;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.component-main {
  opacity: 0.45;
  margin-right: 25px;
}

#components-list {
  padding-bottom: 500px;
}
.component-char {
  cursor: pointer;
}

.component-details-container {
  margin-top: 14px;
  /*padding: 16px;*/

  /*border: 1px solid rgba(212, 175, 55, 0.45);*/
  border-radius: 18px;

  background:
    linear-gradient(
      180deg,
      rgba(80, 160, 255, 0.2),
      rgba(80, 160, 255, 0.1)
    );

  box-shadow:
    0 0 0 1px rgba(255,255,255,0.03) inset,
    0 6px 20px rgba(0,0,0,0.18);

  backdrop-filter: blur(4px);
}

.component-char-details {
  padding: 25px 0 40px 0;
  border-bottom: 1px solid #333;
}

.component-detail-hanzi {
  font-size: 130px;
  color: black;
}

.component-detail-pinyin {
  font-size: 55px;
  text-align: center;
}

.component-detail-hsk {
  margin-top: 15px;
  font-size: 40px;
  opacity: 0.7;
}

.component-detail-translations {
  margin-top: 20px;
  font-size: 55px;
}

.component-detail-example-hanzi {
  margin-top: 35px;
  font-size: 130px;
  color: black;
}

.component-detail-example-hanzi .tone-char,
.phonetic-detail-example-hanzi .tone-char {
  margin: -1px;
}

.component-detail-example-pl {
  margin-top: 15px;
  font-size: 55px;
}

.component-char-wrapper {
  flex-direction: column;
  align-items: center;
}
.phonetics-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}

#phonetics-list {
  padding-bottom: 500px;
}

.phonetic-group {
  margin-bottom: 20px;
}

.phonetic-row {
  flex-wrap: wrap;
  align-items: baseline;

  font-size: 75px;
  line-height: 1.4;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.phonetic-char,
.phonetic-char-main {
  min-height: 180px;
  height: auto;
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 4px;

  background: white;
  color: black;

  font-size: 130px;
  font-weight: 500;
  line-height: 5rem;
  position: relative;
}

.phonetic-group-chars {
  display: none;

  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  grid-column: span 5;
}
.phonetic-char-wrapper {
  width: 100%;
}

.phonetic-char-pinyin {
  font-size: 45px;
}

.phonetic-details-container {
  margin-top: 14px;
  /*padding: 16px;*/

  /*border: 1px solid rgba(80, 160, 255, 0.45);*/
  border-radius: 18px;

  background:
    linear-gradient(
      180deg,
      rgba(80, 160, 255, 0.12),
      rgba(80, 160, 255, 0.05)
    );
}

.phonetic-detail-hanzi {
  font-size: 130px;
  color: black;
}

.phonetic-detail-pinyin {
  font-size: 55px;
  text-align: center;
}

.phonetic-detail-hsk {
  margin-top: 15px;
  font-size: 40px;
  opacity: 0.7;
}

.phonetic-detail-translations {
  margin-top: 20px;
  font-size: 55px;
}

.phonetic-detail-example-hanzi {
  margin-top: 35px;
  font-size: 130px;
  color: black;
}

.phonetic-detail-example-pl {
  margin-top: 15px;
  font-size: 55px;
}
.grayscale-ui,
.grayscale-ui * {
  filter: grayscale(1) !important;
  color: darkgray !important;
}
.hidden {
  display: none !important;
}
.dual-sentence-char {
  background: white;
  color: black;
  margin: -1px;
  width: 170px;
  text-align: center;
}
.example-row .dual-sentence-char {
  display: inline-flex;
  flex-direction: column;
}
.example-row .hanzi-simple,
.example-row .hanzi-traditional {
  display: inline-table;
}
.hanzi:has(.traditional-diff),
.dual-sentence-char:has(.traditional-diff),
.dual-sentence-char.traditional-diff,
.custom-hanzi-card:has(.traditional-diff),
.level-hanzi:has(.traditional-diff),
.component-char:has(.traditional-diff),
.phonetic-char:has(.traditional-diff) {
  background: wheat;
}

.generated-words-list .example-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.generated-words-list .example-row {
  border: none;
  background: none;
  display: flex;
  margin: 0;
  margin-left: 25px;
}

.generated-words-list .example-pl {
  position: relative;

  font-size: 55px;

  color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 70px;

  transition:
    color 0.15s ease,
    opacity 0.15s ease;
}

.generated-words-list .example-pl.revealed {
  color: white;
}

.generated-words-list .example-pl::before {
  content: "👁️";
  position: absolute;
  right: 150px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 55px;
  transition: opacity 0.15s ease;
}

.generated-words-list .example-pl.revealed::before {
  opacity: 0;
}

.generated-word-remove-btn {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  width: 70px;
  height: 70px;
  font-size: 55px;
  cursor: pointer;
  color: gray;
}
.translation-toggle {
  border: none !important;
  font-size: 70px;
  background: none;
  width: 13.1%;
}

.preview-translation {
  font-size: 35px;
  position: absolute;
  bottom: 5px;
  left: 2px;
}
